.section-divider{

    display:flex;

    justify-content:center;

    align-items:center;

    margin:20px 0px;

}

/* Desktop */
.section-divider img{
    width:40%;
}

/* Tablet */
@media (max-width: 992px){
    .section-divider img{
        width:60%;
    }
}

/* Mobile */
@media (max-width: 768px){
    .section-divider img{
        width:100%;
    }
}
