.footer{
    padding:50px 20px 30px;
    text-align:center;
    color: var(--purple);
    font-size:16px;
    line-height:1.8; 
}

.footer p{
    margin:6px 0;
}

.footer-credit a{
    color:inherit;
    text-decoration:none;
    transition:.25s;
}

.footer-credit a:hover{
    color:var(--purple);
    opacity:.8;
}

.footer-copy{
    font-size:12px;
    opacity:.7;
}
